# Ruta completa al archivo de base de datos SQLite donde el bot consulta los reclamos
RUTA_BD_DONDE_CONSULTA=/ruta/a/tu/inventario.db

# Nombre exacto del grupo de WhatsApp donde se enviarán los avisos
NOMBRE_GRUPO=Nombre de tu grupo

# Cada cuántos segundos revisar si hay reclamos nuevos
INTERVALO_SEGUNDOS=15

#Sirve para filtrar los mensajes privados que el bot va a procesar. Solo se procesarán los mensajes de los contactos listados aquí, separados por comas.
CONTACTOS_AUTORIZADOS=Nombre Apellido,Otro Nombre